.footer-podcast {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    height: 15%;
    background-color: rgb(243, 240, 240);
    color: rgb(0, 0, 0);
    text-align: center;
  }