.title {
    color: rgb(214, 185, 253);
    text-align: center;
    padding: 10px;
}

.intro {
    color: rgb(214, 185, 253);
    margin: auto;
    text-align: center;
}

body {
    background-color: rgb(23, 22, 36);
}