.small {
    font-size: 11px;
    line-height: 20px;
}

span {
    color: rgb(202, 66, 66);
}

body,
div,
form,
input,
select {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    color: #363c4c;
    line-height: 22px;
}

html,
body {
    min-height: 100%;
}

.skjema {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 10px;
}

form {
    width: 97%;
    padding: 25px;
    background: #f6f7ff;
    box-shadow: 0 2px 5px #ababab;
}

input,
select {
    width: calc(30% - 10px);
    padding: 5px;
    border: 1px solid #9e9c9c;
    border-radius: 3px;
    vertical-align: middle;
}

input:hover,
textarea:hover,
select:hover {
    outline: none;
    border: 1px solid #2c5874;
    background: #ebf2fa;
}

textarea {
    resize: both;
    max-height: 400px;
    max-width: 100%;
}

.trampett-selection select,
.trampett-selection input,
.lagnavn select,
.lagnavn input,
.pegasus-selection select,
.pegasus-selection input {
    margin-bottom: 0.1%;
}

label {
    margin-bottom: 5px;
    margin: 20px 0 4px;
    font-weight: 400;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0666a3;
}

.submit_button {
    margin-top: 20px;
    text-align: center;
}



@media (min-width: 576px) {

    .lagnavn,
    .trampett-selection,
    .pegasus-selection {
        display: flex;
        justify-content: space-between;
    }

    .lagnavn select,
    .trampett-selection select,
    .pegasus-selection select {
        width: 30%;
        margin-bottom: 0;
    }

    .lagnavn select,
    .trampett-selection select,
    .pegasus-selection select {
        width: 30%;
        margin-bottom: 0;
    }

    .epost {
        display: flex;
        justify-content: space-between;
    }


}